body {
    perspective: 1000px;
    transform-style: preserve-3d;
}

main>.animals {
    --size: 250px;
    width: 75vw;
    margin: auto;
    margin-top: var(--spacing2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
    gap: var(--spacing3);
}

main>.animals article {
    --height: 470px;
    background-color: #FFFFFFAA;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    padding: var(--spacing2);
    position: relative;
    height: var(--height);
}

.animals article img {
    transition: 0.5s ease;
    filter: drop-shadow(2px 2px 6px var(--shadow));
    max-width: calc(min(100%, var(--height)) - var(--spacing2));
}

.animals article:hover .hello {
    opacity: 1;
}

.animals article:hover img {
    width: calc(100% - var(--spacing2));
}

.hello {
    background-color: var(--light);
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    inset: 1rem;
    width: fit-content;
    height: fit-content;
    filter: drop-shadow(1px 1px 2px var(--shadow));
    transition: opacity 0.5s 0.3s;
    opacity: 0;
}

.hello::after {
    content: '';
    background-color: var(--light);
    bottom: -0.7rem;
    right: 30%;
    position: absolute;
    width: 2rem;
    height: 2rem;
    transform: rotate(-25deg) scaleX(0.5) rotate(45deg);
}

.notice {
    position: absolute;
    bottom: calc(var(--spacing2) * -1);
    right: calc(var(--spacing2) * -1);
    background-color: var(--primary);
    padding: var(--spacing);
    width: 100%;
    color: var(--light);
    z-index: 2;
    box-shadow: 2px 2px 6px var(--shadow);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice h1 {
    margin: 0;
    color: var(--light);
}

.notice ul {
    padding: 0;
    margin: 0;
    margin-block-start: var(--spacing);
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.notice li {
    display: flex;
    align-items: center;
}

.notice li::before {
    content: var(--icon);
    margin-inline-end: var(--spacing-sm);
    filter: invert(100%);
}

.not-dangerous {
    --icon: url('../images/not_dangerous.png');
}

.dangerous {
    --icon: url('../images/dangerous.png');
}

.vegetarian {
    --icon: url('../images/vegetarian.png');
}

.carnivorous {
    --icon: url('../images/carnivorous.png');
}

.paw {
    --icon: url('../images/paws.png');
}

.size {
    --icon: url('../images/ruler.png');
}

.iucn {
    aspect-ratio: 1;
    border: 1px solid var(--light);
    padding: var(--spacing-sm);
    border-radius: 50%;
}

.parents {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    margin: var(--spacing);
    padding: var(--spacing-sm);
    background-color: var(--primary-light);
    border: 1px solid var(--primary);
    border-radius: 4px;
}


.parents div:first-child {
    font-weight: bold;
}

#swimmable, #flyable { 
    display: none;
}

#flyable:checked ~ .animals article::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 75%;
    animation: fillLeft linear 0.2s ;
    background: rgb(179,115,0);
    background: linear-gradient(90deg, rgba(179,115,0,1) 0%, rgba(152,99,4,1) 25%, rgba(179,115,0,1) 54%, rgba(152,99,4,1) 82%);
    border-top: 10px solid rgb(92, 176, 32);
    border-top-left-radius: 10px;
}

#flyable:checked ~ .animals .animal-img {
    width: 75px;
    position: absolute;
    bottom: 74%;
    right: 38%;
}

#flyable:checked ~ .animals .fly {
    animation: jump linear 1.5s 0.5s forwards, fly ease-in 1.5s 2s infinite alternate;
}
#flyable:checked ~ .animals .no-fly {
    animation: jump linear 1.5s 0.5s forwards, nofly linear 1.5s 2s forwards;
}

#swimmable:checked ~ .animals article::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: var(--water);
    z-index: 1;
    animation: fill linear 1s ;
    --mask:
        radial-gradient(89.44px at 50% 120.00px, #000 99%, #0000 101%) calc(50% - 80px) 0/160px 100%,
        radial-gradient(89.44px at 50% -80px, #0000 99%, #000 101%) 50% 40px/160px 100% repeat-x;
    mask: var(--mask);
}

#swimmable:checked ~ .animals article .no-swim {
    transform: rotate(180deg);
    transition: transform 1s 1s;
    filter: grayscale(100%);
}

#swimmable:checked ~ .animals article .swim {
    animation: swim linear 1s 1s infinite alternate;
}

#swimmable:checked + label {
    --brightness: 130%;
    box-shadow: 0 0 6px 4px var(--light);
}

.can-swim {
    color: rgba(0, 183, 255); 
    font-weight: bold;
    margin-block: 0.5rem;
}
.can-fly {
    color: rgb(132, 0, 255); 
    font-weight: bold;
    margin-block: 0.5rem;
}

.swim-label {
    margin: var(--spacing2);
}

@keyframes fill {
    0% {
        bottom: -80%;
    }
    100%{
        bottom: 0;
    }
}
@keyframes fillLeft {
    0% {
        width: 0%;
    }
    100%{
        width: 45%;
    }
}
@keyframes swim {
    0% {
        transform: translate(0, 0%);
    }
    100%{
        transform: translate(0, -20%);
    }
}
@keyframes jump {
    0% {
        right: 60%;
        bottom: 76%;
    }
    100%{
        right: 60%;
        bottom: 50%;
    }
}

@keyframes fly {
    0% {
        bottom: 50%;
    }
    100%{
        bottom: 55%;
    }
}

@keyframes nofly {
    0% {
        bottom: 50%;
        transform: rotate(0deg);
    }
    100%{
        bottom: max(5%, 135px);
        transform: rotate(180deg);
    }
}

.errors {
    --errors-width: 1000px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: var(--spacing2);
    transform: rotate(-2deg);
    padding: var(--spacing2);
    width: var(--errors-width);
    aspect-ratio: 2/1;
    background-color: var(--light);
    box-shadow: 15px 15px 0 var(--primary);
    color: var(--primary);
    font-size: 80px;
    line-height: 125%;
    left:calc(50% - var(--errors-width) / 2);
    top: 250px;
    z-index: 10;
    list-style: none;
}

.errors ~ .animals {
    filter: grayscale(100%) blur(4px);
}

.errors img {
    width: 80px;
}

.small-errors {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--spacing2);
    padding: var(--spacing2);
    width: fit-content;
    height: fit-content;
    background-color: var(--light);
    box-shadow: 5px 5px 0 var(--primary);
    color: var(--primary);
    font-size: 25px;
    inset: var(--spacing);
    z-index: 10;
    list-style: none;
}

.selectionnable {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--spacing-sm);
    padding: var(--spacing);
    right: 0;
    top: 35%;
    background-color: var(--light);
}

.selectionnable div {
    --select-color: var(--primary);
    border: 1px solid var(--select-color);
    color: var(--select-color);
    padding: var(--spacing-sm);
    border-radius: 4px;
}

.selectionnable .is-selectionnable {
    --select-color: green;
}