body {
    perspective: 1000px;
    transform-style: preserve-3d;
}

main>.animals {
    --size: 250px;
    width: 75vw;
    margin: auto;
    margin-top: var(--spacing2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
    gap: var(--spacing3);
}

main>.animals article {
    --height: 470px;
    background-color: #FFFFFFAA;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    padding: var(--spacing2);
    position: relative;
    height: var(--height);
}

.animals article img {
    transition: 0.5s ease;
    filter: drop-shadow(2px 2px 6px var(--shadow));
    max-width: calc(min(100%, var(--height)) - var(--spacing2));
}

.animals article:hover .hello {
    opacity: 1;
}

.animals article:hover img {
    width: calc(100% - var(--spacing2));
}

.hello {
    background-color: var(--light);
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    inset: 1rem;
    width: fit-content;
    height: fit-content;
    filter: drop-shadow(1px 1px 2px var(--shadow));
    transition: opacity 0.5s 0.3s;
    opacity: 0;
}

.hello::after {
    content: '';
    background-color: var(--light);
    bottom: -0.7rem;
    right: 30%;
    position: absolute;
    width: 2rem;
    height: 2rem;
    transform: rotate(-25deg) scaleX(0.5) rotate(45deg);
}

.notice {
    position: absolute;
    bottom: calc(var(--spacing2) * -1);
    right: calc(var(--spacing2) * -1);
    background-color: var(--primary);
    padding: var(--spacing);
    width: 100%;
    color: var(--light);
    z-index: 2;
    box-shadow: 2px 2px 6px var(--shadow);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice h1 {
    margin: 0;
    color: var(--light);
}

.notice ul {
    padding: 0;
    margin: 0;
    margin-block-start: var(--spacing);
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.notice li {
    display: flex;
    align-items: center;
}

.notice li::before {
    content: var(--icon);
    margin-inline-end: var(--spacing-sm);
    filter: invert(100%);
}

.not-dangerous {
    --icon: url('../images/not_dangerous.png');
}

.dangerous {
    --icon: url('../images/dangerous.png');
}

.vegetarian {
    --icon: url('../images/vegetarian.png');
}

.carnivorous {
    --icon: url('../images/carnivorous.png');
}

.paw {
    --icon: url('../images/paws.png');
}

.size {
    --icon: url('../images/ruler.png');
}

.iucn {
    aspect-ratio: 1;
    border: 1px solid var(--light);
    padding: var(--spacing-sm);
    border-radius: 50%;
}

.parents {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    margin: var(--spacing);
    padding: var(--spacing-sm);
    background-color: var(--primary-light);
    border: 1px solid var(--primary);
    border-radius: 4px;
}


.parents div:first-child {
    font-weight: bold;
}

#swimmable:checked ~ .animals article::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: rgba(0, 183, 255, 0.2);
    z-index: 1;
    animation: fill linear 1s ;

    --mask:
        radial-gradient(89.44px at 50% 120.00px, #000 99%, #0000 101%) calc(50% - 80px) 0/160px 100%,
        radial-gradient(89.44px at 50% -80px, #0000 99%, #000 101%) 50% 40px/160px 100% repeat-x;
    mask: var(--mask);
}

#swimmable:checked ~ .animals article .no-swim {
    transform: rotate(180deg);
    transition: transform 1s 1s;
    filter: grayscale(100%);
}

#swimmable:checked ~ .animals article .swim {
    animation: swim linear 1s 1s infinite alternate;
}

@keyframes fill {
    0% {
        bottom: -80%;
    }
    100%{
        bottom: 0;
    }
}

@keyframes swim {
    0% {
        transform: translate(0, 0%);
    }
    100%{
        transform: translate(0, -20%);
    }
}